.page {
  align-items: center;
  justify-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 80px;
}

.h1 {
  padding-top: 10%;
  padding-bottom: 24px;
  font-size: 4rem;
  font-weight: bolder;
  color: #094b65;
}

.card {
  padding: 16px;
  margin-bottom: 40px;
  border: 2px solid #094b65;
  text-align: center;
  border-radius: 25px;
  display: block;
  transition: all .4s ease;
  z-index: 999;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-7px);
}

.h2 {
  font-size: 24px;
  font-weight: 900;
  padding-bottom: .5rem;
}

.info {
  color: #3d3d3d;
  font-size: 20px;
  font-weight: 700;
}

.button {
  padding: 16px 32px 16px 32px;
  border-radius: 9px;
  background: #ffff;
  border: #094b65 2px solid;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  color: #094b65;
}

.button:hover {
  box-shadow: 7px 5px 56px -14px #083b50;
}

.button:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #083b50;
}