.page {
  align-items: center;
  justify-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 80px;
}

.h1 {
  padding-top: 20px;
  font-size: 4rem;
  font-weight: bolder;
  color: #094b65;
}

.p {
  padding-top: 24px;
  font-size: 1rem;
  font-weight: bold;
  color: #3d3d3d;
  text-align: left;
  line-height: 40px;
}

.button {
  display: inline-block;
  padding: 8px 30px;
  background: #094b65;
  color: #ffff;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  transform: translateY(100px);
}